{% extends 'base.html' %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>By:
 {{post.author.first_name}} 
{{post.author.last_name}} - {{post.post_date}}</small><br/>

{% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                - <a href="{% url 'update_post' post.pk %}">(Edit)</a>

                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            {% endif %}
        {% endif %}

<br/>
{{ post.body|safe }}
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-dark">Back</a>

<h1>Comments</h1>
<br/>
{% if not post.comments.all %}
    No comments, <a href="{% url 'add_comment' post.pk %}">add One</a>
{% else %}

<a href="{% url 'add_comment' post.pk %}">Add Comment</a>
<br/><br/>

    {% for comment in post.comments.all %}
        <strong>
            {{post.author.first_name}} -
            {{post.author.last_name}}
            {{ comment.date_added }}
        </strong>
        <br/>
        {{ comment.body }}
        <br/><br/>
        
    
    {% endfor %}
        <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
{% endif %}
<br/>



<br/><br/>
{% endblock %}